<h4>Here are some awesome quotes</h4>
 
    @foreach (var quote in @ViewBag.allQuotes){
        
           <section>
            @quote["Quote"]<br>
            @quote["Name"] at @quote["CreatedAt"]
           </section>
    }
 